{% extends "hearthstone/base.html" %}

{% block content %}

<header class="jumbotron my-4 container-fluid">
  <h1 class="display-3 text-center">Django Hearthstone</h1>
  {% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}" class="btn btn-success btn-lg">Jouer</a>
  {% endif %}
</header>
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-3 offset-md-1">
          <img src="http://i.imgur.com/48EQlmU.gif" class="img-responsive" alt="">
            <a href="{% url 'shop' %}">
                <h3 class="text-center">BOUTIQUE</h3>
            </a>
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="http://img.over-blog-kiwi.com/2/49/44/58/20170822/ob_1d2726_e374004e6f5ac18b-256x256.png" alt="">
          <a href="{% url 'game' %}">            
            <h3 class="text-center">JOUER</h3>
          </a>
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="https://vignette.wikia.nocookie.net/hearthstone/images/e/e6/Cards.png/revision/latest?cb=20130325035156" alt="">
          <a href="{% url 'myCards' %}">          
            <h3 class="text-center">CARTES</h3>   
          </a>       
        </div>
    </div>
    <div class="col-md-12 page-header">
        <h1 id="timeline">Feed</h1>
    </div>
    <div class="col-md-12">
        <ul class="row timeline">       
            {% for p in posts %}
    
                    {% for userFollowed in listFollowed %}
                        {% if userFollowed.followed.user.id == p.id_author.id %}
                          {% if forloop.counter0|divisibleby:2 %}
                          <li class="col-md-12">
                              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                          {% else %}
                            <li class="timeline-inverted">
                              <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                          {% endif %}
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title"><a href="{% url 'profile' p.id_author.id %}">{{ p.id_author  }}</a></h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ p.created_at|date:"M/d"|lower }}</small></p>
                              </div>
                              <div class="timeline-body">
                                <p>{{ p.post_content }}</p>
                              </div>
                            </div>
                          </li>
                        {% endif %}
                  {% endfor %}
              {% empty %}
                <li>Sorry, no tweet avaiable... Start by follow some body?</li>
            {% endfor %}
          </ul>
    </div>
      
    </div>
      <!--
          <h2>Liste des dernières parties</h2>
          <div class="games mb-5">
      
            {% for game in games %}
            <p class="lead">{{ game.user1.username }} vs. {{ game.user2.username }} <a class="small" href="{% url 'game' %}">Voir le match</a></p>
            {% empty %}
            <p>Aucune partie pour le moment.</p>
            {% endfor %}
      -->
          </div>
        </div>
      </div>
</div>

{% endif %}

{% endblock content %}