{% extends "hearthstone/base.html" %}

{% load static %}

{% block content %}


<div id="filter">

  <input type="text" class="quicksearch" placeholder="Filter search...">

  <div class="togglelist">
    <a href="#" class="toggle-button"><span></span></a>
  </div>

  <div class="button-group" data-filter-group="type">
    <button class="button is-checked" data-filter="*">show all</button>
    <button class="button" data-filter=".Rogue">Voleur</button>
    <button class="button" data-filter=".Priest">Prêtre</button>
    <button class="button" data-filter=".Paladin">Paladin</button>
    <button class="button" data-filter=".Warlock">Démoniste</button>
    <button class="button" data-filter=".Mage">Mage</button>
    <button class="button" data-filter=".Hunter">Chasseur</button>
    <button class="button" data-filter=".Warrior">Guerrier</button>
    <button class="button" data-filter=".Shaman">Chaman</button>
    <button class="button" data-filter=".Druid">Druide</button>
    <button class="button" data-filter=".Neutral">Neutre</button>
    <button class="button" data-filter=".Spell">Spell</button>
  </div>
</div>

<div id="sorts">
  <div class="row">
    <div class="column button-group">
      <h3>Sort</h3>
      <button class="button secondary" data-sort-by="original-order"> Original order</button>
      <button class="button" data-sort-by="cost" data-sort-direction="asc"> Cost</button>
    </div>
  </div>
</div>
  

<div class="container_test">
  <div class="grid_test">
    
    <div class="row my-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 offset-md-2">
              <h1>Votre collection de cartes ({{ cards|length }})</h1>
          </div> 
          <div class="col-md-6">
              <a href="{% url 'shop' %}">
                    <button type="button" class="btn btn-info">Acheter des cartes</button>
              </a>
          </div>
        </div>
        <div class="row">
          {% for card in cards %}
          <!-- TODO: check if card is spell or not to add filter -->
          <div class="player_class col-3 text-center single-card my-4 {{ card.playerClass }}">
              <p hidden class="cost">{{ card.cost}} </p>
              <p hidden class="name">{{ card.name}}</p>
              <img src="{{ card.img_url }}" alt="{{ card.name }}" class="img-thumbnail">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#disenchantCardModal" data-whatever="Basic">
                Désenchanter
              </button>
          </div>
          
          {% empty %}
          <div class="col">
            Vous n'avez pas encore de cartes.
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="disenchantCardModal" tabindex="-1" role="dialog" aria-labelledby="disenchantCardModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="disenchantCardModalLabel">
              <!-- generated by shop.js -->
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="row" id="zoneCard">
              <div class="col-md-4 offset-md-4" id="disenchant">
                  <img src="{% static 'img/disenchant.png' %}" class="img-fluid" alt="">
                  <button type="button" class="btn btn-primary" id="disenchantCards" data-ext="">
                          Désenchanter
                  </button> 
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
  </div>

              		
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/my-cards.isotope.js' %}"></script>

{% endblock content %}