{% extends "hearthstone/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
          <h1>Vos decks de cartes</h1>
      
          <a href="{% url 'deckCreate' %}" class="btn btn-primary">Creer un deck</a>
      
          <div class="row">
            {% for deck in decks %}
            <div class="col-3 text-center my-4">
              <img class="card-img-top" src="{% static 'img/hearthstone-portrait-'%}{{ deck.playerClass }}.png" alt="Card image cap">
              <a href="{% url 'deckUpdate' deck.id %}">{{deck.title}}</a>
            </div>
            {% empty %}
            <div class="col">
              Vous n'avez pas encore de decks.
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
</div>

{% endblock content %}